<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.seahuang.spring.data.mybatis.pagination.mapper.UserMapper" >
  <select id="selectInXml" resultType="com.github.seahuang.spring.data.mybatis.pagination.entity.User">
  	SELECT *
    FROM T_USER WHERE NAME like '%'||#{name}||'%'
  </select>
</mapper>